
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ZenTracks</h1>
                        <h3>Plan and Peace Out</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/users/sign_up" class="btn btn-default btn-lg"><span class="network-name">Sign Up</span></a>
                            </li>
                            <li>
                                <a href="/users/sign_in" class="btn btn-default btn-lg"><span class="network-name">Sign In</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Planning an Epic Road Trip<br>or Backpacking Trip?</h2>
                    <p class="lead">Use ZenTracks to easily add your destination points <!-- track the distance and directions between them, --> and keep your itinerary in one place.</p>
                    <p>In the next version, you'll be able to add your points to a map, tracking the time it takes to get from one destination to the next!<h4><font color="red">Coming Soon!</font></h4></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "plan.jpg", class: "img-responsive", alt: "People on a road trip" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Share Your Trips<br>with Other Users</h2>
                    <p class="lead">Need some inspiration for a trip or want to share one that you planned? You can browse trips created by other users and even share your own!<h4><font color="red">Coming Soon!</font></h4></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "share-trip.jpg", class: "img-responsive", alt: "Share trip" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Worth Doing Again?<br>Archive Your Trips!</h2>
                    <p class="lead">Maybe the trip was so great you want to do it again! Trips are automatically archived for future editing and use!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "archive.jpg", class: "img-responsive", alt: "Archive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>


    </div>
    <!-- /.banner -->

